<div class="container" style="padding-top: 5%;width: 60%">
  <div style="font-size: 30px; color: cornflowerblue">Person List For Pet Store</div>
  <table class="table table-striped table-bordered">
    <tr style="background: lightblue;">
      <th>Name</th>
      <th>Age</th>
    </tr>
    <tr *ngFor="let person of persons">
      <td>{{person.personName}}</td>
      <td>{{person.personAge}}</td>
    </tr>
    <tr *ngIf="persons && persons.length == 0">
      <td colspan="3">No records found!</td>
    </tr>
  </table>
</div>