<div class="container" style="padding-top: 5%;width: 60%">
  <div style="font-size: 30px; color: cornflowerblue">Pet List For Pet Store</div>
  <table class="table table-striped table-bordered">
    <tr style="background: lightblue;">
      <th>Name</th>
      <th>Color</th>
    </tr>
    <tr *ngFor="let pet of pets">
      <td>{{pet.petName}}</td>
      <td>{{pet.petColor}}</td>
    </tr>
    <tr *ngIf="pets && pets.length == 0">
      <td colspan="3">No records found!</td>
    </tr>
  </table>
</div>