<div class="container" style="padding-top: 5%">
        <div *ngIf="!submitted" style="text-align: center;color: brown;font-family: sans-serif">
            Please insert Pet Name to search
        </div>
        <form [formGroup]="sPetF" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="petName">Pet Name</label>
                <input type="text" formControlName="petName" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.petName.errors }" />
                <div *ngIf="submitted && f.petName.errors" class="invalid-feedback">
                    <div *ngIf="f.petName.errors.required">Pet Name is required</div>
                </div>
            </div>
    
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Search</button>
                <img *ngIf="loading"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>
        </form>
    
        <div class="container" *ngIf="submitted && !f.petName.errors">
            <table class="table table-striped table-bordered" style="width:75%">
                <tr style="background: lightblue;">
                    <th>Name</th>
                    <th>Color</th>
                </tr>
                <tr *ngFor="let pet of pets">
                    <td>{{pet.petName}}</td>
                    <td>{{pet.petColor}}</td>
                </tr>
                <tr *ngIf="pets && pets.length == 0">
                    <td colspan="3">No records found!</td>
                </tr>
            </table>
        </div>
    </div>